@font-face {
	font-family: 'Trajan Pro';
	src: url(../fonts/TrajanPro-Regular.woff2) format('woff2'),
	url(../fonts/TrajanPro-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* pour le path du font : le point de depart est le fichier courant TrajanPro.css avec pour point d'arrive respectif le fichier .woff2 et .woff qui font cible*/