/*  DOTA 2 MENU COLORS
    background rgb(42, 0, 6)
    menu structure rgb(42, 43, 48)
    top menu bar rgb(11,12,16)
    menu button hover light red regb(151, 70, 69)
    top menu font dark greyish gold rgb(94, 92, 73)
    general font light grey rgb(172, 171, 176)
    some header font rgb(170, 197, 158)
    value's name color light grey rgb(114, 116, 115)
    value color light green rgb(219, 247, 144) 
*/

body, html {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
  background: rgb(42, 0, 6);
  position: relative;
  font-family: 'Trajan Pro', sans-serif;
  /* border: 0.1px solid #ff4500; */
  color: rgb(172, 171, 176);
  background-image: linear-gradient(to top, rgb(38,8,16), rgb(101,19,21));
}

#profilePage {
  color: rgb(114, 116, 115);
  background-color: rgba(33,32,37,150);
  background-image: linear-gradient(to top, rgb(28,30,31) 80%, rgb(43,52,80));
}

#profileValue {
  color: rgb(219, 247, 144);
}

#profileUsernameHeader {
  color: rgb(98,139,181);
}

.navbar-custom {
  background-color: rgb(11,12,16);
}

.navbar-custom .navbar-brand {
  color: rgb(131, 123, 118)
}

.navbar-custom .navbar-text {
  color: rgb(94, 92, 72);
}

#languageSelector {
  background-color: rgb(42, 43, 48);
  color: white;
}

.nav-link {
  color: grey;
}

.nav-link active {
  color: black;
}

.playButton {
  position: relative;
  top: 10px;
  right: 10px;
  font-size: 12px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  z-index: 100;
}

#menu {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: transparent;
  z-index: 10;
}

#menu h1 {
  font-size: 3em;
  font-family: 'Trajan Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

#menu ul {
  list-style: none;
  padding: 0;
}

.menuStructureTop {
background-color: rgb(42, 43, 48);
}

.menuButton {
  margin: 20px 10px;
  font-size: 1.5em;
  cursor: auto;
  font-family: 'Trajan Pro', sans-serif;
  border: 2px solid #ff4500;
  padding: 10px 20px;
  display: inline-block;
  /* background-color: transparent; */
  color: white;
  transition: all 0.3s ease;
}

.menuButton:hover {
  background-color: #ff4500;
  color: black;
}

.hidden {
  display: none;
}

#levelSelection {
  margin-top: 20px;
}

#levelSelection h2 {
  font-family: 'Trajan Pro', sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}

#levelSelection button {
  font-family: 'Trajan Pro', sans-serif;
  font-size: 1.5em;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #ff4500;
  background-color: transparent;
  color: white;
  margin: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#levelSelection button:hover {
  background-color: #ff4500;
  color: black;
}

/* canvas {
  position: absolute;
  top: 0;
  left: 0;
}
 */
