<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Trajan%20Pro.css">
    <link rel="stylesheet" href="assets/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/css/styles.css">
</head>

<body><span>{% extends 'pong/base.html' %}{% load static %}{% block title %}Profile{% endblock %}{% block content %}</span>
    <h1>Profile Information</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p><input type="button" class="button_active menuButton" name="Update profile" value="Update profile"><input type="button" class="button_active menuButton" name="Change password" value="Change password"><input type="button" class="button_active menuButton" name="Delete account" value="Delete account"><span> {% comment %} </span><a href="{% url 'pong:update_profile' %}">Update Profile</a><br><a href="{% url 'pong:change_password' %}">Change Password</a><br>
    <form action="{% url 'pong:delete_account' %}" method="post"><span> {% csrf_token %} </span><button class="menuButton" type="submit">Delete Account</button></form><span> {% endcomment %}{% endblock %}</span>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/js/script.js"></script>
</body>

</html>