<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Trajan%20Pro.css">
    <link rel="stylesheet" href="assets/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/css/styles.css">
</head>

<body><span>{% extends 'pong/base.html' %}{% load static %}{% block title %}Register{% endblock %}{% block user_navigation %} {% endblock %}{% block content %}</span>
    <h2>Register</h2>
    <form method="post" action="{% url 'pong:register' %}"><span> {% csrf_token %} {{ form.as_p }} </span><button class="menuButton" type="submit">Register</button></form>
    <p>If you already have an account, please <a href="{% url 'pong:login' %}">Login here</a></p><span>{% endblock %}</span>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/js/script.js"></script>
</body>

</html>