<!-- templates/pong/base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8" />
	<title>{% block title %}PONG{% endblock %}</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'pong/css/style.css' %}" />
  </head>
  <body>
	<header>
	  <h1 class="pong-title">PONG</h1>
	</header>

	<script src="{% static 'pong/js/menu.js' %}"></script>
	<script src="{% static 'pong/js/home.js' %}"></script>
	<script src="{% static 'pong/js/play.js' %}"></script>

	<script src="{% static 'pong/js/friends.js' %}"></script>
	<script src="{% static 'pong/js/tournament.js' %}"></script>
	<script src="{% static 'pong/js/logout.js' %}"></script>

	<script src="{% static 'pong/js/404.js' %}"></script>
	<script src="{% static 'pong/js/profile.js' %}"></script>
	<script src="{% static 'pong/js/main.js' %}"></script>

	<main>
	  <div id="app">
		{% block content %}

		<script>
		  changePage("#home");
		</script>

		{% endblock %}
	  </div>
	</main>

	<!-- <footer>
		<p>&copy; 2024 Pong. Tous droits réservés.</p>
	</footer> -->

	{% block scripts %} {% endblock %}
  </body>
</html>
