{% extends 'pong/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home">
    <h1>{% trans Welcome you! %}</h1>
    <input type="button" class="button_active" name="Play" value="Play" onclick="location.href='{% url 'pong:play' %}';" /> 
    <input type="button" class="button_active" name="Logout" value="Logout" onclick="location.href='{% url 'pong:logout' %}';" />
</div>
{% endblock %}

{% comment %} {% extends 'pong/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<input type="button" class="button_active" name="Play" value="Play" onclick="location.href='{% url 'pong:play' %}';" />
<input type="button" class="button_active" name="Logout" value="Logout" onclick="location.href='{% url 'pong:logout' %}';" />
{% endblock %} {% endcomment %}