<!-- templates/pong/index.html -->

{% extends 'pong/base.html' %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <input type="button" class="button_active" name="Login" value="Login" onclick="location.href='{% url 'pong:login' %}';" />
        <input type="button" class="button_active" name="Register" value="Register" onclick="location.href='{% url 'pong:register' %}';" /> 
        <p>Or log with 42 -><a href="{% url 'pong:external-login' %}">Login with 42 here</a></p>
    {% endif %}
{% endblock %}

<!-- <div class="index">
    <p>Welcome you !</p>
    <p>You are not logged.
    Please <a href="{% url 'pong:login' %}">Login</a> or <a href="{% url 'pong:register' %}">Register</a></p>
    <p>Or login with 42 here <a href="{% url 'pong:external-login' %}">Login with 42</a>
</div> -->

<!-- templates/pong/index.html -->
