<!-- templates/pong/login.html -->
{% extends 'pong/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% comment %} <!-- Votre formulaire de connexion -->
<form id="login-form" method="post">
    <!-- ... autres champs du formulaire ... -->
    {% csrf_token %}
    <button type="submit">Se connecter</button>
</form> {% endcomment %}
{% block content %}
<!-- <script>changePage('login');</script> -->

<h2>Login</h2>
<form id="login-form" method="post" action="{% url 'pong:login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
<p>If you don't have an account, please <a href="{% url 'pong:register' %}">Register here</a> or <a href="{% url 'pong:external_login' %}">Login with 42</a></p> 
{% endblock %}
