<!-- templates/pong/login.html -->
{% extends 'pong/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block user_navigation %}
    {# Ne rien afficher pour la navigation utilisateur sur la page de login #}
{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="post" action="{% url 'pong:login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
<p>If you don't have an account, please <a href="{% url 'pong:register' %}">Register here</a> or <a href="{% url 'pong:external_login' %}">Login with 42</a></p>
{% endblock %}
