{% extends 'pong/base.html' %}

{% block title %}Profil{% endblock %}

{% block content %}
<script>changePage('profile');</script>
{% comment %} <div class="container mt-5">
	<h1>Profil de {{ user.username }}</h1>
	<p>Email : {{ user.email }}</p>
	<p>Nom : {{ user.first_name }} {{ user.last_name }}</p>
	<p>ID : {{ user.id }}</p>
	<button class="btn btn-primary mt-3" id="download-pdf">Télécharger en PDF</button>

	<h2>Liste des amis</h2>
	{% if friends %}
		<!-- https://getbootstrap.com/docs/4.0/components/list-group/ -->
		<ul class="list-group"> 
			{% for friend in friends %}
				<li class="list-group-item"> 
					{{ friend.id }} - {{ friend.username }} ({{ friend.email }})
					<button class="btn btn-danger btn-sm" onclick="unfriend({{ friend.id }})">Supprimer</button>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Vous n'avez pas encore d'amis.</p>
	{% endif %}

	<h2>Demandes d'amis envoyées</h2>
	{% if sent_requests %}
		<ul class="list-group" id="sent-requests-list">
			{% for request in sent_requests %}
				<li class="list-group-item">
					{{ request.id_user_2.id }} - {{ request.id_user_2.username }} ({{ request.id_user_2.email }})
					<button class="btn btn-danger btn-sm" onclick="removeFriendRequest({{ request.id }})">Retirer</button>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<ul class="list-group" id="sent-requests-list"></ul>
		<p id="noFriendRequestsMessage">Vous n'avez pas encore envoyé de demandes d'amis.</p>
	{% endif %}

	<h2>Demandes d'amis reçues</h2>
	{% if received_requests %}
		<ul class="list-group">
			{% for request in received_requests %}
				<li class="list-group-item">
					{{ request.id_user_1.id }} - {{ request.id_user_1.username }} ({{ request.id_user_1.email }})
					<button class="btn btn-success btn-sm" onclick="acceptFriendRequest({{ request.id }})">Accepter</button>
					<button class="btn btn-danger btn-sm" onclick="refuseFriendRequest({{ request.id }})">Refuser</button>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p id="noFriendRequestsMessage">Vous n'avez pas encore reçu de demandes d'amis.</p>
	{% endif %}

	<h2>Envoyer une demande d'ami</h2>
	<form id="send-friend-request-form">
		<div id="error-message" class="mt-3" style="color: red; font-weight: bold;"></div>
		<div class="form-group">
			<label for="to_user_id">ID de l'utilisateur :</label>
			<input type="text" id="to_user_id" name="to_user_id" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Envoyer</button>
	</form>
	<div id="response" class="mt-3"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
	// Ajouter un event listener pour gerer l'envoi du formulaire
	document.getElementById('send-friend-request-form').addEventListener('submit', function(event) {
		// Prevenir le rechargement de la page
		event.preventDefault();

		// Recueillir les donnees du formulaire
		const formData = new FormData(this);
		const data = Object.fromEntries(formData.entries());

		// Envoyer les donnees au serveur via fetch. Permet d'envoyer une requete au serveur de maniere asynchrone
		fetch('{% url "pong:send_friend_request" %}', {
			method: 'POST', // Methode HTTP POST
			body: JSON.stringify(data), // Convertir les donnees en JSON
			headers: {
				'Content-Type': 'application/json', // Type de contenu JSON
				'X-CSRFToken': '{{ csrf_token }}' // Token CSRF pour la securite
			}
		}) // then => permet de gerer la reponse du serveur
		.then(response => response.json()) // Convertir la reponse en JSON
		.then(data => {
			const responseDiv = document.getElementById('response'); // Element pour afficher la reponse
			const errorMessageDiv = document.getElementById('error-message'); // Element pour afficher les erreurs
			if (data.status === 'success') { // Si la reponse indique un succes
				// Afficher un message de succes
				responseDiv.innerHTML = `<div class="alert alert-success">${data.message}</div>`;
				errorMessageDiv.innerHTML = '';
				// Ajouter la nouvelle demande a la liste des demandes envoyees
				const sentRequestsList = document.getElementById('sent-requests-list');
				const newRequestItem = document.createElement('li'); // Creer un nouvel element <li>
				newRequestItem.className = 'list-group-item'; // Ajouter une classe CSS
				newRequestItem.innerHTML = `
					${data.requested_user.id} - ${data.requested_user.username} (${data.requested_user.email})
					<button class="btn btn-danger btn-sm" onclick="removeFriendRequest(${data.request.id})">Retirer</button>
				`;
				document.getElementById("noFriendRequestsMessage".remove())
				sentRequestsList.appendChild(newRequestItem); // Ajouter le nouvel element a la liste
			} else { // Si la reponse indique une erreur
				// Afficher le message d'erreur
				responseDiv.innerHTML = '';
				errorMessageDiv.innerHTML = data.message;
			}
		})
		.catch(error => { // En cas d'erreur de requete
			const responseDiv = document.getElementById('response'); // Element pour afficher la reponse
			const errorMessageDiv = document.getElementById('error-message'); // Element pour afficher les erreurs
			responseDiv.innerHTML = '';
			errorMessageDiv.innerHTML = 'Erreur lors de l\'envoi de la demande d\'ami.';
			console.error('Error:', error); // Afficher l'erreur dans la console
		});
	});

	// Ajouter un event listener pour telecharger un fichier PDF
	document.getElementById('download-pdf').addEventListener('click', function() {
		window.location.href = '{% url "pong:get_user_info" %}?format=pdf'; // Rediriger l'utilisateur pour telecharger le PDF
	});

	// Fonction pour accepter une demande d'ami
	function acceptFriendRequest(requestId) {
		fetch('{% url "pong:accept_friend_request" %}', {
			method: 'POST', // Methode HTTP POST
			body: JSON.stringify({ request_id: requestId }), // Envoyer l'ID de la demande
			headers: {
				'Content-Type': 'application/json', // Type de contenu JSON
				'X-CSRFToken': '{{ csrf_token }}' // Token CSRF pour la securite
			}
		})
		.then(response => response.json()) // Convertir la reponse en JSON
		.then(data => {
			location.reload(); // Recharger la page pour mettre a jour l'interface
		})
		.catch(error => console.error('Error:', error)); // Afficher l'erreur dans la console
	}

	// Fonction pour refuser une demande d'ami
	function refuseFriendRequest(requestId) {
		fetch('{% url "pong:refuse_friend_request" %}', {
			method: 'POST', // Methode HTTP POST
			body: JSON.stringify({ request_id: requestId }), // Envoyer l'ID de la demande
			headers: {
				'Content-Type': 'application/json', // Type de contenu JSON
				'X-CSRFToken': '{{ csrf_token }}' // Token CSRF pour la securite
			}
		})
		.then(response => response.json()) // Convertir la reponse en JSON
		.then(data => {
			location.reload(); // Recharger la page pour mettre a jour l'interface
		})
		.catch(error => console.error('Error:', error)); // Afficher l'erreur dans la console
	}

	// Fonction pour retirer une demande d'ami envoyee
	function removeFriendRequest(requestId) {
		fetch('{% url "pong:remove_friend_request" %}', {
			method: 'POST', // Methode HTTP POST
			body: JSON.stringify({ request_id: requestId }), // Envoyer l'ID de la demande
			headers: {
				'Content-Type': 'application/json', // Type de contenu JSON
				'X-CSRFToken': '{{ csrf_token }}' // Token CSRF pour la securite
			}
		})
		.then(response => response.json()) // Convertir la reponse en JSON
		.then(data => {
			const responseDiv = document.getElementById('response'); // Element pour afficher la reponse
			const errorMessageDiv = document.getElementById('error-message'); // Element pour afficher les erreurs
			if (data.status === 'success') { // Si la reponse indique un succes
				// Afficher un message de succes
				responseDiv.innerHTML = `<div class="alert alert-success">${data.message}</div>`;
				errorMessageDiv.innerHTML = '';
				location.reload(); // Recharger la page pour mettre a jour l'interface
			} else { // Si la reponse indique une erreur
				// Afficher le message d'erreur
				responseDiv.innerHTML = '';
				errorMessageDiv.innerHTML = data.message;
			}
		})
		.catch(error => { // En cas d'erreur de requete
			const responseDiv = document.getElementById('response'); // Element pour afficher la reponse
			const errorMessageDiv = document.getElementById('error-message'); // Element pour afficher les erreurs
			responseDiv.innerHTML = '';
			errorMessageDiv.innerHTML = 'Erreur lors du retrait de la demande d\'ami.';
			console.error('Error:', error); // Afficher l'erreur dans la console
		});
	}

	// Fonction pour retirer un ami de la liste
	function unfriend(friendId) {
		fetch('{% url "pong:unfriend" %}', {
			method: 'POST', // Methode HTTP POST
			body: JSON.stringify({ friend_id: friendId }), // Envoyer l'ID de l'ami
			headers: {
				'Content-Type': 'application/json', // Type de contenu JSON
				'X-CSRFToken': '{{ csrf_token }}' // Token CSRF pour la securite
			}
		})
		.then(response => response.json()) // Convertir la reponse en JSON
		.then(data => {
			const responseDiv = document.getElementById('response'); // Element pour afficher la reponse
			const errorMessageDiv = document.getElementById('error-message'); // Element pour afficher les erreurs
			if (data.status === 'success') { // Si la reponse indique un succes
				// Afficher un message de succes
				responseDiv.innerHTML = `<div class="alert alert-success">${data.message}</div>`;
				errorMessageDiv.innerHTML = '';
				location.reload(); // Recharger la page pour mettre a jour l'interface
			} else { // Si la reponse indique une erreur
				// Afficher le message d'erreur
				responseDiv.innerHTML = '';
				errorMessageDiv.innerHTML = data.message;
			}
		})
		.catch(error => { // En cas d'erreur de requete
			const responseDiv = document.getElementById('response'); // Element pour afficher la reponse
			const errorMessageDiv = document.getElementById('error-message'); // Element pour afficher les erreurs
			responseDiv.innerHTML = '';
			errorMessageDiv.innerHTML = 'Erreur lors de la suppression de l\'ami.';
			console.error('Error:', error); // Afficher l'erreur dans la console
		});
	}
</script> {% endcomment %}
{% endblock %}
