{% extends 'pong/base.html' %}
{% load i18n %}

{% block title %}User list{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{{ user_list_txt }}</h1>
    <ul id="user-list" class="list-group">
        {% for user in users %}
        <li class="list-group-item">
            <strong>{{ user_id_txt }}:</strong> {{ user.id }}<br>
            <strong>{{ username_txt }}:</strong> {{ user.username }}<br>
            <strong>{{ hashed_password_txt }}:</strong> {{ user.hashed_password }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
