<body>
    <h1 class="text-center">Parametres</h1>
    <form>
        <fieldset>
            <legend>Field Group</legend>
            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Checkbox</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Radio</label></div><input class="form-control" type="file">
        </fieldset>
    </form>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>