<body>
    <h1 class="text-center">Classement</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Utilisateurs</th>
                    <th>Rangs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bob</td>
                    <td>42</td>
                </tr>
                <tr>
                    <td>Toto</td>
                    <td>21</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>