body, html {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
  background: black;
  position: relative;
  font-size: 1.5em;
  font-family: 'Trajan Pro', sans-serif;
  border: 2px solid #ff4500;
  color: white;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

.nav-link active {
  color: white;
}

.playButton {
  position: relative;
  top: 10px;
  right: 10px;
  font-size: 12px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  z-index: 100;
}

#menu {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
}

#menu h1 {
  font-size: 3em;
  font-family: 'Trajan Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

#menu ul {
  list-style: none;
  padding: 0;
}

.menuButton {
  margin: 20px 10px;
  font-size: 1.5em;
  cursor: pointer;
  font-family: 'Trajan Pro', sans-serif;
  border: 2px solid #ff4500;
  padding: 10px 20px;
  display: inline-block;
  background-color: transparent;
  color: white;
  transition: all 0.3s ease;
}

.menuButton:hover {
  background-color: #ff4500;
  color: black;
}

.hidden {
  display: none;
}

#levelSelection {
  margin-top: 20px;
}

#levelSelection h2 {
  font-family: 'Trajan Pro', sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}

#levelSelection button {
  font-family: 'Trajan Pro', sans-serif;
  font-size: 1.5em;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #ff4500;
  background-color: transparent;
  color: white;
  margin: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#levelSelection button:hover {
  background-color: #ff4500;
  color: black;
}

/* canvas {
  position: absolute;
  top: 0;
  left: 0;
}
 */
