<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8" />
	<title>{% block title %}PONG{% endblock %}</title>
	{% load static %}
	<link rel=stylesheet href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel=stylesheet href="{% static 'css/TrajanPro.css' %}"/>
	<link rel=stylesheet href="{% static 'css/frontstyle.css' %}"/>
	<link rel="icon" href="{% static 'pong/images/favicon.ico' %}" type="image/x-icon">
  </head>
  <body>
	<header>
		<h1 class="pong-title">PONG</h1>
		<div id="menu-container"></div>
	</header>
	<script src="{% url 'javascript-catalog' %}"></script>
	<script src="{% static 'pong/js/loadTranslations.js' %}"></script>
	<script src="{% static 'pong/js/menu.js' %}"></script>
	<script src="{% static 'pong/js/home.js' %}"></script>
	<script src="{% static 'pong/js/play/play.js' %}"></script>
	<script src="{% static 'pong/js/play/pongGame.js' %}"></script>
	<script src="{% static 'pong/js/friends.js' %}"></script>
	<script src="{% static 'pong/js/tournament/tournament.js' %}"></script>
	<script src="{% static 'pong/js/tournament/tournamentDetail.js' %}"></script>
	<script src="{% static 'pong/js/tournament/matchmaking.js' %}"></script>
	<script src="{% static 'pong/js/logout.js' %}"></script>
	<script src="{% static 'pong/js/404.js' %}"></script>
	<script src="{% static 'pong/js/profile.js' %}"></script>
	<script src="{% static 'pong/js/login.js' %}"></script>
	<script src="{% static 'pong/js/register.js' %}"></script>
	<script src="{% static 'pong/js/main.js' %}"></script>
	<script src="{% static 'pong/js/matchHistory.js' %}"></script>
	<script src="{% static 'pong/js/privacyPolicy.js' %}"></script>
	<script src="{% static 'pong/js/iaAlgo.js' %}"></script>
	<main class="w-100 m-auto">
	  <div id="app">
		  {% block content %}
		  <script>

			{% if user.is_authenticated %}
				if (window.location.hash === '' || window.location.hash === '#') {
					loadTranslations().then(() => {
						changePage('#home');
					});
				} else {
					loadTranslations().then(() => {
						changePage(window.location.hash);
					});
				}
				{% else %}
				if (window.location.hash === '#register') {
					loadTranslations().then(() => { 
						changePage('#register');
					});
				} else {
					loadTranslations().then(() => {
						changePage('#login');
					});
				}
			{% endif %}
		loadTranslations();
		</script>
		{% endblock %}
	  </div>
	</main>
	{% block scripts %} {% endblock %}

{% if not user.is_authenticated %}
<script>

	// Script JS pour avoir une modale lorsque l'utilisateur est en mode navigation privee


	// VerifiFonction pour verifier si l'utilisateur est en mode navigation privee
	async function isIncognito() {
		if (navigator.storage && navigator.storage.estimate) {
			const { quota } = await navigator.storage.estimate();
			if (quota && typeof performance.memory !== "undefined") {
				return quota < performance.memory.jsHeapSizeLimit;
			}
		}
		return false;
	}

	// Fonction pour afficher la modale
	function showModal() {
		// Verifier si l'utilisateur a deja accepte les conditions
		if (localStorage.getItem('incognitoAccepted') === 'true') return;

		const modal = document.createElement('div');
		modal.style.cssText = `
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: white;
			padding: 20px;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0,0,0,0.3);
			z-index: 1000;
			max-width: 80%;
			max-height: 80%;
			overflow-y: auto;
		`;
		modal.innerHTML = `
			   <h2>${window.trans.warning}</h2>
				<p>${window.trans.usePrivateBrowsing}:</p>
				<ul>
					<li>${window.trans.closeWinOrTab}.</li>
					<li>${window.trans.toAppearOffline}.</li>
				</ul>

			<button id="acceptIncognito" style="
				background-color: #4CAF50;
				border: none;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
			">${window.trans.iUnderstandAndAccept}</button>
		`;
		document.body.appendChild(modal);

		// Ajouter un event au bouton
		document.getElementById('acceptIncognito').addEventListener('click', function() {
			localStorage.setItem('incognitoAccepted', 'true');
			modal.remove();
		});
	}

	// Verifier si l'utilisateur est en mode de navigation privee et afficher la modale 
	isIncognito().then(incognito => {
		if (incognito) {
			loadTranslations().then(() => {
				showModal();
			});
		}
	});

	</script>
	{% endif %}
	<canvas id="background"></canvas>
	<script src="{% static 'pong/js/background.js' %}"></script>
	<script src="{% static 'pong/js/bootstrap.min.js' %}"></script>
	</body>
</html>